[Desktop Entry]
Name=sodalite
GenericName=File Navigator
Exec=sodalite %f
Terminal=true
Type=Application
Categories=FileManager;FileTools;System
Keywords=Navigator;Launcher;
