[Desktop Entry]
Name=sodalite
GenericName=File Navigator
Exec=sodalite %F
Terminal=true
Type=Application
Categories=FileManager;FileTools;Utility
Keywords=Navigator;Launcher;
