#!/usr/bin/make -f
export DH_VERBOSE = 1
export PYBUILD_NAME = sodalite
export PYBUILD_DISABLE=test
export PYBUILD_TEST_PYTEST = 1
#export DEBPYTHON3_SUPPORTED=3.9
#export PYBUILD_INTERPRETERS=python3.9
#export PYBUILD_VERSIONS=3.9

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	make install-misc root=${CURDIR}/debian/sodalite

#override_dh_python3:
#	dh_python3 --shebang=/usr/bin/python3.9

