## meta keys
# Control-A must be written as ^A
# Alt-A must be wrtten as !a
# Mind the casing.

## special keys
# these special keys  can be specified:
# ENTER

##############
# variables ################################################################
# following variables can be used within hooks. they are expanded at runtime:
# #f:   current entry (filename or dirname)
# #q:   if hook ends with #q, sodalite will issue the hook and exit
#       example: vim #f#q
#       this is useful if the hook is designed to serve as launcher>
#       If the app spawns in another window (like all x apps),
#       consider spawning the process in the background
#       (in order for sodalite to exit immediately)
#       example: zathura #f &#q

# mind the indentation, this is YAML
actions:
  general:
    "^B": ['ln -s "#f" $SODALITE_BOOKMARK_DIR/$(basename "#f")', add to bookmarks]
    "!b": ['rm $SODALITE_BOOKMARK_DIR/$(basename "#f")', delete from bookmarks]
  dir:
    ENTER: ['terminator --working-directory="#f"#q', drop to shell]
    "^S": ['terminator --working-directory="#f"', open shell]
    "^E": ['vifm "#f" #f#q', drop to file manager]
  text:
    "o": ['vim "#f" #q', open with vim]
  custom:
    image:
      extensions: [png, jpg]
      hooks:
        "o": ['feh "#f" &', open with feh]
    pdf:
      extensions: [pdf]
      hooks:
        "o": ['zathura "#f"#q', open with zathura]
    hypertext:
      extensions: [html]
      hooks:
        "v": ['firefox "#f"#q', open with firefox]
    archive:
      extensions: [xz]
      hooks:
        "u": ['tar xpvf #f #q', extract]
